/* JAI FAIT LE CHOIX DE NE FAIRE QU UNE SEULE PAGE CSS POUR LES 4 PAGES HTMLS CAR IL Y A TROP PEU DE CODE CSS POUR CHAQUE LIVRABLE */
/* DEBUT HEADER */


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.titre {
    /* EUG JMK DESIGN*/
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: rgb(255, 25, 102);
    margin-right: 45px;
}
.titre:hover {
    text-decoration: none;
    color:  rgb(247, 108, 154);
}
.nav-link {
    /*titres du menu*/
    font-size: 25px;
    font-family: roboto;
    font-weight: bold;
}

.lien {
    color: rgb(255, 121, 143);
}

.contact {
    /*bouton contact*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: rgb(255, 25, 102);
    font-size: 36px;
}

.contact:hover {
    text-decoration: none;
    color: rgb(255, 25, 102);
}


/* FIN HEADER */


/* PHOTO DEFILLANT EN DESSOUS DU MENU*/

.image1 {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 560px !important;
}


/* FIN PHOTO EN DESSOUS DU MENU */

/* DEBUT 1 */

h1 {
    font-family: roboto;
    color: rgb(255, 80, 133);
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-family: roboto;
    color: rgb(255, 80, 133);
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

p {
    font-family: roboto;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

/* FIN LIVRABLE 1 */

/* DEBUT LIVRABLE 2 */

video {
    margin-top: 50px;
}


/* FIN LIVRABLE 2*/

/* DEBUT LIVRABLE 3 */
#image {
    margin-top: -80px;
    margin-bottom: -80px;
}


/* FIN LIVRABLE 3 */

/* DEBUT FOOTER */
footer {
    background-color: rgb(253, 150, 167);
    margin-top: 80px;
}

.fb-ic {
    color: rgb(253, 63, 95);
    text-align: center;
}

.tw-ic {
    color: rgb(253, 63, 95);
    text-align: center;
}

.gplus-ic {
    color: rgb(253, 63, 95);
    text-align: center;
}

.li-ic {
    color: rgb(253, 63, 95);
    text-align: center;
}

.ins-ic {
    color: rgb(253, 63, 95);
    text-align: center;
}

.pin-ic {
    color: rgb(253, 63, 95);
    text-align: center;
}

.footer-copyright {
    font-family: roboto;
    font-size: 18px;
    font-weight: bold;
    color: rgb(253, 63, 95);
    margin-top: -60px;
}

/* FIN FOOTER */